[submodule "references/galaxy-mcp"]
	path = references/galaxy-mcp
	url = https://github.com/galaxyproject/galaxy-mcp.git
	branch = main
	shallow = true
[submodule "references/galaxy"]
	path = references/galaxy
	url = https://github.com/galaxyproject/galaxy.git
	branch = dev
	shallow = true
[submodule "references/mcp-spec"]
	path = references/mcp-spec
	url = https://github.com/modelcontextprotocol/modelcontextprotocol.git
	branch = main
	shallow = true
[submodule "references/biomcp"]
	path = references/biomcp
	url = https://github.com/genomoncology/biomcp.git
	branch = main
	shallow = true
[submodule "references/pepmimic"]
	path = references/pepmimic
	url = https://github.com/kxz18/PepMimic.git
	branch = main
	shallow = true
[submodule "references/bindcraft"]
	path = references/bindcraft
	url = https://github.com/martinpacesa/BindCraft.git
	branch = main
	shallow = true
