ENVIRONMENT=development
LOG_LEVEL=INFO
DOCS_ENABLED=true

OTEL_SERVICE_NAME=taskome-gateway
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# OTEL_EXPORTER_OTLP_HEADERS=authorization=Bearer%20token
